.side-card {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background-color: rgba(71, 64, 64, 0.444);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  
  .side-card::before {
    content: "";
    width: 350px;
    height: 100px;
    position: absolute;
    top: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: black;
    transition: all 0.3s ease;
  }
  
  .side-card * {
    z-index: 1;
  }
  
  .image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid #bcb6b6;
    margin-top: 30px;
    transition: all 0.5s ease;
  }

  .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: all 0.5s ease;
  }
  
  .card-info span {
    font-weight: 600;
    font-size: 24px;
    margin-top: 15px;
    line-height: 5px;
  }
  
  .side-card:hover {
    width: 200px;
    border-radius: 250px;
    background-color: rgba(193, 182, 182, 0.444);

    .card-info p{
      font-size: 10px;
    }
  }
  
  .side-card:hover::before {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-bottom: none;
    transform: scale(0.95);
  }
  
  .side-card:hover .card-info {
    transform: translate(0%,-15%);
  }

  .mainSide{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 17vw;
    height: 100vh;
    color: white;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
  }

  .iam{
    font-size: 40px;
    color: white;
    position: absolute;
    top: 40px;
    left: 20px;
    cursor: pointer;
    display: none;
  }

  .cut{
    display: none;
  }

  @media (max-width:980px) {
    .mainSide{
      display: none;
    }
    .iam{
      display: block;
    }

    .cut{
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 30px;
      cursor: pointer;
      display: block;
    }
    .sidebar{
      position: fixed;
      display: flex;
      width: 250px;
      flex-direction: column;
      align-items: center;
      top: 0;
      gap: 30px;
      z-index: 2;
      transition: left .5s;
    }

    .side-card{
      display: none;
    }
  }
