*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.All{
  width: 100vw;
  background-image: url(../public/images/nn.avif);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  }

.mainSide{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 17vw;
  height: 100vh;
  background-color: black;
  color: white;
  align-items: center;
  overflow: hidden;
  padding-top: 30px;
  box-sizing: border-box;
}


.side-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
}

.image{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.side-writing h2{
  font-weight: 700;
  font-size: 30px;
}

.icon{
  width: 114px;
  text-align: end;
}

.icon p{
  color: rgb(216, 219, 223);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.side-down{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
  width: 100%;
  
}
.one{
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  
}


.one a{
  text-decoration: none;
  font-weight: 540;
  font-size: 15px;
  cursor: pointer;
  padding: 5px 10px;
  text-align: start;

}

.a{
  font-size: 18px;
}

.ab{
  font-size: 30px;
}

.abc{
  font-size: 25px;
}

.nav-main{
  margin-left: 17vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 10px 20px 20px;
  box-sizing: border-box;
}

.nav-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-left p{
  font-size: 3vw;
  font-weight: 500;
  color: white;
}

.nav-right{
  display: flex;
  align-items: end;
}

.overall{
  height: 100vh;
  overflow: hidden;
}

.nav-right a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 120px;
  color: rgb(54, 102, 249);
  margin-bottom: 20px;
  transition: all .7s ease-out;
}
.nav-right a:hover{
  color: blue;
}

.except{
  width: calc(100vw - 17vw);
  margin-left: 17vw;
}

.body-start{
  margin-left: 15vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100vw - 16vw);
  box-sizing: border-box;

  color: white;
  padding: 0 30px;
  height: 100%;
  gap: 40px;
  padding-bottom: 50px;
}

.body-left{
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  align-items: center;
}

.body-one , .body-two{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.body-left-one, .body-left-two, .body-left-three, .body-left-four {
  display: flex;
  width: 230px;
  height: 230px;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 20px;
}

.body-left-one span, .body-left-three span{
  font-size: 40px;
  font-weight: 600;
}

.body-left-one p, .body-left-three p, #op{
  font-size: 13px;
  font-weight: 600;

}

.body-left-two p{
  font-size: 30px;
  line-height: 26px;
}



.body-left-four span{
  font-size: 50px;
}

.body-left-four p{
  font-size: 13px;
}



.body-right{
  display: flex;
  background-color: black;
  width: 600px;
  height: 475px;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  row-gap: 30px;
  box-sizing: border-box;
  border-radius: 20px;
}

.body-right span{
  font-size: 40px;
}

.body-right p{
  font-size: 15px;
}


.body-right a{
  text-decoration: none;
  font-weight: 600;
  color: rgb(54, 102, 249);
  transition: all .7s ease-out;
 
}

.body-right a:hover{
  color: blue;
}

.page-two{
  color: white;
  margin-top: 100px;
  margin-left: 16vw;
  width: calc(100vw - 17vw);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
  

@media (max-width: 800px) {
  .mainSide{
    width: 30vw;
  }
  .nav-main{
    margin-left: 30vw;
    padding: 60px 10px 20px 20px;
    
  }
  .nav-left p {
    font-size: 30px;
  }

  .nav-right a{
    margin-right: 16px;
    margin-bottom: 1px;
  }
  .body-start{
    margin-left: 30vw;
    width: calc(100vw - 30vw);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    
  }
  .body-one, .body-two{
    box-sizing: border-box;
    justify-content: center;
    column-gap: 20px;
  }

    .body-left{
      margin-left: -60px;
    }

    .body-right{
      flex-wrap: wrap;
      width: 400px;
      height: 400px;
      margin-left: -20px;
      margin-bottom: 20px;
      border: 1px solid rgb(152, 119, 119);
    }

  .body-left-one, .body-left-two, .body-left-three, .body-left-four{
    width: 200px;
    height: 200px;
  }

  .page-two{
    margin-left: 30vw;
    width: calc(100vw - 30vw);
  }
}

.next{
  display: flex;
  margin-top: 20px;
  gap: 45px;
  flex-wrap: wrap;
  padding:10px;
  justify-content: center;
}

.useme{
  border: 1px solid black;
  width: 330px;
  height: 350px;
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  box-shadow: 0px 0px 26px rgb(119, 112, 112);
  border-radius: 15px;
  overflow: hidden;
  background-color: black;
}

.imagesection{
  width: 330px;
  height: 220px;
  overflow: hidden;
  
}
.imagesection img{
  width: 100%;
  height: 100%;
  
}


#pp{
  text-align: center;
  font-size: 40px;
  font-weight: 550;
}


.discription{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  gap: 10px;
  color: black;
}

.dis p{
  white-space: nowrap;
  font-size: 13px;
  color: rgb(115, 111, 111);
}

#hard{
  font-size: 20px;
  font-weight: 550;
  color: white;
}



.butt{
  display: flex;
  gap: 5px;
}

.butt p{
  border: 1px solid black;
  padding: 3px 5px;
  border-radius: 30px;
  padding: 5px 20px;
  font-weight: 600;
  font-size: 14px;
}

#oo{
  background-color: rgb(224, 179, 224);
  opacity: .6;
}

#yy{
  background-color: rgb(159, 193, 159);
  opacity: .6;
}

.discription button{
  width: 299px;
  padding: 12px 20px;
  background-color: blue;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}